<div class="container-fluid container-md">
    <h1 class="my-4 text-center">Our little history</h1>
    <p>Our Story Begins...

        in the small mountain village of Prezza, located in the Providence di L'Aquila of the Abruzzo region of Italy

        where Antonio Dominic Sandonato met Yolanda Rosa Maria Giovannucci and fell in love.</p>
        <p>    They married in July 24, 1939 and had 5 children during their marriage. Surviving famine, WW2 and losing 2 of their young children.
    They fought for a better future and immigrated to Austria in 1954, settling in Vienna.</p>

    <p>In 1966 they decided to make Niagara Falls, New York their permanent home where they stayed until their passing



    Established in 2004 in dedication to Antonio and Yolanda

    Gambero Rosso restaurant served their first meal to the general public on December 03 , 2004 in Vienna.</p>

    <p>We are the children, and grandchildren who carry on their traditions and love of great food and family!

    With love in our hearts we welcome you to</p>

    <h3 class="risto"> Il Gambero Rosso</h3>
    <div class="d-flex flex-column flex-lg-row flex-start gap-3 my-5 text-center">
        <figure>
            <img src="./assets/img/oldpic.jpg" alt="picture of chef Daniele" class="img-thumbnail">
            <figcaption class="figure-caption">A cool summer day outside our restaurant</figcaption>
        </figure>
        <figure class="align-self-center">
            <blockquote class="blockquote pb-3">
                <p>Food is everything we are. It's an extension of nationalist feeling, ethnic feeling, your personal history, your province, your region, your tribe, your grandma. It's inseparable from those from the get-go.
            </p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Anthony Bourdain
            </figcaption>
        </figure>
    </div>
</div>