<section class="d-flex flex-wrap gap-3 justify-content-center">
    <div class="border border-color-secondary rounded col-11 col-md-5 col-lg-3"
        *ngFor="let item of plates; index as dishIndex">
        <img src="{{item.image}}" class="card-img-top rounded-top" alt="pictuer of {{item.name}}">
        <div class="d-flex flex-column justify-content-between">
            <h5 class="card-title m-3">{{item.name}}</h5>
            <p class="card-text m-3">{{item.description}}</p>
            <hr class="my-0">
            <ng-template [ngIf]="item.availability" [ngIfElse]="notAv">
                <p class="card-text my-1 mx-3">{{item.price | currency:"EUR"}}</p>
                <hr class="my-0">
                <div class="m-3">
                    <button routerLink="/dishes/{{dishIndex}}" type="button"
                        class="btn btn-outline-secondary me-3 detail-btn">Details</button>
                    <button type="button" class="btn text-light order-btn" (click)="addToCart(dishIndex)">Order</button>
                </div>
            </ng-template>

            <ng-template #notAv>
                <p class="text-rosso m-3">This product is not available.</p>
            </ng-template>
        </div>
    </div>
</section>