<section id="hero" class="text-light text-center position-relative">
    <div class="position-absolute top-50 start-50 translate-middle">
        <h1 class="fst-italic">Ristorante Il Gambero Rosso</h1>
        <p>Serving you for generations.</p>
        <button routerLink="/menu" type="button" class="btn btn-success m-2">Our menu</button>
    </div>
</section>

<section class="container-lg mb-5 rest-main" >
    <h1 class="my-5">A Cozy & Comfortable Place With Authentic Italian Classics</h1>
    <div class="mx-auto">
        <img src="./assets/img/restaurant.jpg" alt="interior picture" class="float-lg-start mb-0 me-3 rounded"
            id="img-rest">
        <div class="float-none">
            <p>Gambero Rosso is a family style restaurant offering exceptional value to its guests through the many dishes of Southern Italian cuisine. Gambero Rosso was established with a singular vision; bringing his guests “wow-factor” sized portions and making any meal feel like an authentic Italian experience.</p>

            <p>As we have nothing to hide, nor we want to lock away our chefs, our kitchen is designed in a way you can
                have a look on meal prepartion, get in touch with our cooks, or just to perceive it as a background
                component of our ambience.</p>
            <p>We offer the perfect place for various occasions such as:</p>
            <ul>
                <li>cerimonies like weddings</li>
                <li>candle-light dinner for two</li>
                <li>Birthdays</li>
            </ul>
            <p>We like to point out that we see it as our duty to make your time at our place unique and enjoyable. The
                more we know about your needs, the better we can satisfy them. Please don't hesitate to inform as at any
                time.</p>
        </div>
    </div>
</section>

<section class="why_us bg-light py-5 my-5">
    <h1>Why choose us</h1>
    <p class="text-center">What makes us unique?</p>
    <ol class="d-flex flex-column flex-lg-row gap-4 mt-5 justify-content-center">
        <li class="col-12 col-lg-3 pe-4 pe-lg-0">
            <h5>Classic Dishes with unqiue twist</h5>
            <p>We only use high quality ingredients produced in the region by people we know, trying
                to conserve their original taste throughout the cooking process and not forgetting about the little
                "secrets" of traditional italian cuisine.</p>
        </li>

        <li class="col-12 col-lg-3 pe-4 pe-lg-0">
            <h5>Cozy atmosphere</h5>
            <p>We position ourselves in the middle of androgyn style, freezing gourmet temples and crowded, popular
                restaurants. Our wish is to create a cosy atmosphere without overstepping the limits of other customers
                well-being.</p>
        </li>
        <li class="col-12 col-lg-3 pe-4 pe-lg-0">
            <h5>Catering to your personal needs</h5>
            <p>Do you need a gluten-free menu or are you suffering
                from other food-allergies like tree nuts, cow's milk or wheat. Just let us know, we can manage that!</p>
        </li>
    </ol>
</section>